<main class="container bg-body" [attr.data-bs-theme]="myTheme">

  <div class="mb-3" class="form-group">
    <div class="row">
      <div class="col">
        <label for="id" class="form-label text-body-emphasis" i18n>Product ID</label>

        <div *ngIf="isUpdate;else update">
          <input #idProd type="number" value="{{ product?.id }}" (change)="productFromId(idProd.valueAsNumber)"
            class="form-control " id="id" name="id" min="1" max="{{totalProducts.length}}" (ngModel)="formProduct!.id">
        </div>
        <ng-template #update>
          <input #idProd type="number" value="{{ product?.id }}" placeholder="101" (change)="productFromId(idProd.valueAsNumber)"
            class="form-control" id="id" name="id" min="101" max="101" (ngModel)="formProduct!.id">
        </ng-template>
      </div>
      <div class="col">
        <label for="title" class="form-label text-body-emphasis" i18n>Product Title</label>
        <input type="text" class="form-control" name="title" id="title" rows="1" value="{{ product?.title }}" ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="description" class="form-label text-body-emphasis" i18n>Product Description</label>
        <input type="text" class="form-control" name="description" id="description" rows="2" maxlength="200"
          value="{{ product?.description }}" ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="price" class="form-label text-body-emphasis" i18n>Price</label>
        <input type="text" class="form-control" name="price" id="price" value="{{ product?.price }}&euro;" rows="1"
          ngModel>
      </div>
      <div class="col">
        <label for="discount" class="form-label text-body-emphasis" i18n>Discount</label>
        <input type="text" class="form-control" name="discount" id="discount" rows="1"
          value="{{ product?.discountPercentage }}&percnt;" ngModel>
      </div>
      <div class="col">
        <label for="rating" class="form-label text-body-emphasis" i18n>Rating</label>
        <input type="text" class="form-control" name="rating" id="rating" rows="1" value="{{ product?.rating }}"
          ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="quantity" class="form-label text-body-emphasis" i18n>Quantity</label>
        <input type="text" class="form-control" name="quantity" id="quantity" value="{{ product?.stock }}" rows="1"
          ngModel>
      </div>
      <div class="col">
        <label for="Brand" class="form-label text-body-emphasis" i18n>Brand</label>
        <input type="text" class="form-control" name="Brand" id="Brand" value="{{ product?.brand }}" rows="1" ngModel>
      </div>
      <div class="col">
        <label for="category" class="form-label text-body-emphasis" i18n>Category</label>

        <select class="form-select form-select-lg" name="" aria-label="Default select example" ngModel id="category">
          <option value="" disabled selected hidden>
            {{ product?.category }}
          </option>
          <option *ngFor="let category of categories">{{ category }}</option>
        </select>
      </div>
    </div>
    <label for="thumbnail" class="form-label text-body-emphasis" i18n>thumbnail</label>
    <input type="text" class="form-control" name="thumbnail" id="thumbnail" value="{{ product?.thumbnail }}" rows="1"
      ngModel>

      <label for="images" class="form-label text-body-emphasis" i18n>Images</label>
    <div  *ngFor="let image of product?.images"></div>

    <textarea class="form-control" name="images" id="images" value="{{ product?.images }}" rows="2"
      ngModel>{{ product?.images }}&nbsp;</textarea>

    <div *ngIf="isUpdate ; else elseBlock">
      <button type="submit" class="btn btn-primary" (click)="goUpdateProduct(this.product!)" i18n>
        Update
      </button>
    </div>
    <ng-template #elseBlock> <button type="submit" class="btn btn-primary" (click)="anadeObjeto(product?.id!)" i18n>
        Create
      </button></ng-template>
  </div>


  <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert" i18n>
    <strong>Success</strong> The product {{product?.id}} has been added/modified.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div *ngIf="success==false" class="alert alert-danger alert-dismissible fade show" role="alert" i18n>
    <strong>Error</strong> The object could not be added/modified 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


</main>