main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

label {
  padding: 7px;
}

textarea {
  resize: none;
}

#thumbnail {
  margin-bottom: 15px;
}

#images {
  margin-bottom: 15px;
}
