<footer class="bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-9 text-body-tertiary" id="footerTxt">
                {{'FOOTER.TEXT' | translate}}
            </div>
            <div class="col text-body-secondary">
                <p>
                    <a> {{'FOOTER.ABOUT' | translate}}</a>
                </p>
                <p>
                    <a> {{'FOOTER.CONTACT' | translate}}</a>
                </p>
                <p>
                    <a> {{'FOOTER.LANGUAGE' | translate}}</a>
                </p>
                <p>
                    <a> {{'FOOTER.COOKIES' | translate}}</a>
                </p>

            </div>
        </div>

    </div>
</footer>