<footer class="bg-body-tertiary" [attr.data-bs-theme]="myTheme">
    <div class="container">
        <div class="row">
            <div class="col-9 text-body-tertiary" id="footerTxt">
                "Unleash your shopping potential at Brand name. Discover top-notch products,
                unbeatable deals, and exceptional customer service. Shop with confidence and convenience. Stay tuned
                for exciting updates and exclusive offers. Elevate your shopping experience today!"
            </div>
            <div class="col text-body-secondary">
                <p>
                    <a>About us</a>
                </p>
                <p>
                    <a>Contact</a>
                </p>
                <p>
                    <a>Language</a>
                </p>
                <p>
                    <a>Cookies</a>
                </p>

            </div>
        </div>

    </div>
</footer>