@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Vina+Sans&display=swap");


#fondo {
  

  font-family: "Raleway", sans-serif;
}

mat-spinner {
  margin: 0 auto;
}

.card {
  text-align: center;
  width: 18rem;

  margin: 5px;
  font-family: Raleway, sans-serif;
}
#lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {

  height: 60%;
  max-height: 13em;
  object-fit: contain;
  border-radius: 5px;
}

#oldPrice {
  font-size: 2rem;
  color: rgba(169, 180, 190, 0.781);
  text-decoration: line-through;
}

#discount {
  text-align: center;
  border-radius: 50px;
  padding: 5x 5px;
  background-color: #d93636;

}

#newPrice {
  font-size: 3rem;
}
#stars {
  font-size: 2rem;
  text-align: center;

}
a {
  text-decoration: none;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;

  border-radius: 3px;
  padding: 2px 20px;
}

#productTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 6.5vh;
  font-size: 2em;
  min-height: 19vh;
  max-height: 25vh;
  text-align: center;
}

#categoryFilter {
  padding: 15px;
  margin-left: 1em;
  border-radius: 4px;

  cursor: pointer;
}

#categoryFilter:hover {
  transition: 0.5s;
}
ul{
  margin-bottom: 0;
}
.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: #5a5a5a;
}
.pagination > .active > a,
.pagination > .active > a:hover {
  background-color: #5a4181 !important;
  border: solid 1px #5a4181 !important;
}
