<main id="fondo" class="bg-body" >

  <mat-spinner *ngIf="isDataLoaded$ && !isDataLoaded$.closed"></mat-spinner>

  <div *ngIf="isDataLoaded$ && isDataLoaded$.closed">

    <nav class="d-flex p-2 mx-5">
      <div class="dropdown ">
        <button class="btn btn-secondary dropdown-toggle bg-body-secondary text-body-emphasis mx-3 " type="button" id="triggerId" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{'PRODUCT.DISPLAY.FILTERBYCATEGORY' | translate}}
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
          <div *ngFor="let category of categories">
            <a class="dropdown-item" routerLink="/products" fragment="{{category}}"
              (click)="goGetProductCategory(category)">{{
              category
              }}</a>
          </div>
        </div>



        <button class="btn btn-secondary dropdown-toggle bg-body-secondary text-body-emphasis  mx-3 " type="button"
          id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'PRODUCT.DISPLAY.FILTERBYPRICE' | translate}}
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
          <a class="dropdown-item" (click)="filterByPrice(0, 15)">
            0&euro;-15&euro;</a>
          <a class="dropdown-item" (click)="filterByPrice(15, 30)">
            15&euro;-30&euro;</a>
          <a class="dropdown-item" (click)="filterByPrice(30, 50)">
            30&euro;-50&euro;</a>
          <a class="dropdown-item" (click)="filterByPrice(50, 100)">
            50&euro;-100&euro;</a>
          <a class="dropdown-item" (click)="filterByPrice(100, 200)">
            100&euro;-200&euro;</a>
          <a class="dropdown-item" (click)="filterByPrice(200, 9999999)">
            200&euro;&plus;</a>
        </div>
        <button name="Reset" class="btn btn-primary  mx-3 " id="reset" (click)="goGetProductsPaginated()">
          {{'PRODUCT.DISPLAY.CLEARFILTERS' | translate}}
        </button>
      </div>

      <form class="d-flex ms-auto" role="search">
        <input #searchBox class="form-control me-2" type="search" placeholder="{{'PRODUCT.DISPLAY.SEARCH' | translate}}" aria-label="Search" />
        <button class="btn btn-outline-success" (click)="search(searchBox.value)">
          {{'PRODUCT.DISPLAY.SEARCH' | translate}}
        </button>
      </form>
    </nav>


    <section id="lista">

      <a class="card bg-body-secondary" *ngFor="let product of products" id="todo"
        routerLink="/products/id/{{ product.id }}">
        <img class="card-img-top" src="{{ product.thumbnail }}" alt="{{ product.title }}" />
        <div class="card-body">
          <div id="productTitle">
            <p id="title" class="card-text align-middle text-body-emphasis"> {{ product?.title | titlecase}}</p>
          </div>


          <p id="stars" class="text-warning text-darken-xs">{{ numberToStars(product.rating) }}</p>



          <p id="discount" class="card-text text-body-emphasis">{{ product.discountPercentage }}{{'PRODUCT.DISPLAY.PERCENTOFF' | translate}}</p>
          <p id="oldPrice" class="card-text">{{ product.price }}&euro;</p>
          <p id="newPrice" class="card-text text-body-emphasis"> {{ aplicaDescuento(product) }}&euro;</p>
        </div>
      </a>
    </section>



      <ul class="pagination justify-content-center pagination-lg rounded">
        <li class="page-item" *ngFor="let product of totalProducts| slice:0:10  ; let i = index ">
          <div>
            <a class="page-link" [routerLink]="['/products',i+1]" (click)="goGetProductsPaginated()">{{i+1}}</a>
           </div> 
        </li>
      </ul>
    

  </div>
</main>