<fieldset>
    <div class="container">



        <label for="id" class="form-label">Product ID</label>
        <input type="number" class="form-control" id="id" name="id" min="101" max="101">

        <label for="title" class="form-label">Product Title</label>
        <input type="text" class="form-control" name="title" id="title" rows="1" placeholder="{{ product?.title }}"
            ngModel>

        <br>
        <label for="description" class="form-label">Product Description</label>
        <input type="text" class="form-control" name="description" id="description" rows="2" maxlength="200"
            placeholder="{{ product?.description }}" ngModel>
        

        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" name="price" id="price" placeholder="{{ product?.price }}&euro;"
            rows="1" ngModel>

        <label for="discount" class="form-label">Discount</label>
        <input type="text" class="form-control" name="discount" id="discount" rows="1"
            placeholder="{{ product?.discountPercentage }}&percnt;" ngModel>

        <label for="rating" class="form-label">Rating</label>
        <input type="text" class="form-control" name="rating" id="rating" rows="1" placeholder="{{ product?.rating }}"
            ngModel>

        <label for="quantity" class="form-label">Quantity</label>
        <input type="text" class="form-control" name="quantity" id="quantity" placeholder="{{ product?.stock }}"
            rows="1" ngModel>

        <label for="Brand" class="form-label">Brand</label>
        <input type="text" class="form-control" name="Brand" id="Brand" placeholder="{{ product?.brand }}" rows="1"
            ngModel>

        <label for="category" class="form-label">category</label>
        <select class="form-select form-select-lg" name="" aria-label="Default select example" ngModel id="category"
            name="category">
            <option value="" disabled selected hidden>
                {{ product?.category }}
            </option>
            <option *ngFor="let category of categories">{{ category }}</option>
        </select>
        <br>
        <label for="thumbnail" class="form-label">thumbnail</label>
        <input type="text" class="form-control" name="thumbnail" id="thumbnail" placeholder="{{ product?.thumbnail }}"
            rows="1" ngModel>

        Images
        <label for="images" class="form-label" *ngFor="let image of product?.images"></label>

        <input type="text" class="form-control" name="images" id="images" placeholder="{{ product?.images }}" rows="2"
            ngModel>{{ product?.images }}&nbsp;


        <button value="Añadir Objeto" class="btn btn-primary" (click)="anadeObjeto(id)">Añadir</button>
    </div>
</fieldset>