<nav class="navbar sticky-top navbar-expand-lg bg-body-secondary" [attr.data-bs-theme]="myTheme">
    <a class="navbar-brand" href="#">Brand name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse"
        aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>

    </button>
    <div class="navbar-collapse collapse" id="collapse">
        <ul class="navbar-nav nav-tabs" id="navId" role="tablist">


            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" routerLink="/products" aria-current="page" i18n>Products</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" routerLink="/modify" i18n>Modify</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" routerLink="/users" i18n>Users</a>
            </li>


        </ul>
        
    </div>
   
        <mat-button-toggle-group name="theme" aria-label="Theme Selection" [value]="myTheme">
          <mat-button-toggle value="light" (click)="onSwitchLight()" i18n>Light</mat-button-toggle>
          <mat-button-toggle value="dark" (click)="onSwitchDark()" i18n>Dark</mat-button-toggle>
        </mat-button-toggle-group>
</nav>