@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Vina+Sans&display=swap");

main {
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
  padding-bottom: 106px;
}


div {
  background-color: #f2f2f2;
  width: 30rem;
  height: 30rem;
  object-fit: contain;
  border-radius: 4px;
}
h5 {
  padding: 10px;
  border-radius: 5px;
  font-size: 4em;
  text-transform: capitalize;
  color: #262626;
  width: fit-content;
  text-align: center;
}
h6{
  background-color: #bf9788;
  border-radius: 5px;
  color: #f2f2f2;
  width: fit-content;
  padding: 0.5em;
  font-size: 1.5em;
  text-transform: uppercase;
}

p {
  font-size: 1.5em;
  padding: 60px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #262626;
  word-wrap: break-word;
  width: fit-content;
}
