<main class="container">
    <div class="row">
        <div class="col">
            <p>Selecciona el ID del producto a borrar</p>
            <label for="id" class="form-label"></label>
        </div>
        <div class="col">
            <input type="number" #id1 class="form-control" id="id" name="id" min="1" max={{totalProducts.length}}>
        </div>
        <div class="col">
            <button value="Borrar Objeto" class="btn btn-primary"
                (click)="goDeleteProduct(id1.valueAsNumber)">Borrar</button>
        </div>
    </div>
    <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success</strong> Alert.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="success==false" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error</strong> Alert.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


</main>
