<main class="container " >
    <div class="row" >
        <div class="col">
            <p class="text-body-emphasis">{{'PRODUCT.MODIFY.TXTDELETE' | translate}}</p>
            <label for="id" class="form-label"></label>
        </div>
        <div class="col">
            <input type="number" #id1 class="form-control" id="id" name="id" min="1" max={{totalProducts.length}}>
        </div>
        <div class="col">
            <button value="Borrar Objeto" class="btn btn-primary"
                (click)="goDeleteProduct(id1.valueAsNumber)">{{'PRODUCT.MODIFY.DELETE' | translate}}</button>
        </div>
    </div>
    <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
        {{'PRODUCT.MODIFY.SUCCESS2' | translate}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="success==false" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{'PRODUCT.MODIFY.ERROR2' | translate}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


</main>
