

.resize {
  width: 100%;
  height: auto;
  max-height: 200px;
  
}

.card {
  position: relative;
  display: inline-block;
  padding: 10%;
  margin-bottom: 5px;
}

.card-img-top {
  position: relative;
}
#rowReverse {
  flex-direction: row-reverse;
}
.img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 72, 72, 0.15);
  color: white;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
section {
  padding: 50px;
}
.card:hover .img-text {
  opacity: 1;
}
