@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Vina+Sans&display=swap");

#fondo {
  padding: 3em;
  background-color: #262626;
  font-family: "Raleway", sans-serif;
}
main #lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* #Category{
  display: flex;
  flex-direction: column-reverse;
  border: solid 1px;
  border-color: red;
  background-color: #404040;
}
*/

#categoryFilter {
  padding: 15px;
  margin-left: 1em;
  border-radius: 4px;
  background-color: #404040;
  color: #f2f2f2;
  cursor: pointer;
}
#categoryFilter:hover {
  transition: ease-in-out 0.5s;
  background-color: #f2f2f2;
  color: #262626;
}
a:not(#categoryFilter) {
  text-decoration: none;
}


#fondo h1 {
  color: #f2f2f2;
  font-size: 5em;
}

#todo {
  padding: 1em;
  background-color: #404040;
  color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 5em;
  margin-right: 2em;
}

#todo:hover {
  border: solid 2px #d9bc66;
}
img {
  background-color: #f2f2f2;
  width: 500px;
  height: 500px;
  object-fit: scale-down;
  border-radius: 5px;
}

#productTitle {
  max-width: 500px;
  display: block;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  text-shadow: #262626 1px 1px 1pxpx;
}

#description {
  font-size: 20pt;
  text-align: center;
  color: #f2f2f2;
  max-width: 500px;
  padding: 8px;
  background-color: #262626;
  border-radius: 4px;
  width: inherit;
}
#oldPrice {
  font-size: 50pt;
  color: red;
  text-decoration: line-through #f2f2f2;
  text-align: center;
}
#discount {
  text-align: center;
  border-radius: 50px;
  font-size: 50pt;
  background-color: #d9bc66;
  text-shadow: #262626 1px;
}
#discount:hover {
  background-color: #bf9460;
}

#newPrice {
  text-align: center;
  font-family: "Vina Sans", cursive;
  font-size: 85pt;
}
#stars {
  text-align: center;
  font-size: 50pt;
  color: goldenrod;
}

#category {
  font-size: 30pt;
  text-align: center;
}

#brand {
  font-size: 25pt;
  text-align: center;
}

#stock {
  font-size: 30pt;
  text-align: center;
}

.pagination > li > a
{
    background-color: #5a5a5a;
    color: #f2f2f2;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}