<main >

  <div class="mat-app-background basic-container">
    <h1>User List</h1>
    <div class="header">

      <div class="example-container mat-elevation-z8">

        <div class="container">

          <div class="row" id="row1">
            <div class="col">
              <mat-form-field>
                <mat-label>Position</mat-label>
                <input matInput type="number" min="1" max="{{dataSource!.data.length}}" [(ngModel)]="idb" class="form">
              </mat-form-field>
            </div>
            <div class="col">
              <button mat-stroked-button (click)="removeData(idb)" class="demo-button">
                Remove User
              </button>
            </div>
          </div>


          <div class="row" id="row2">

            <div class="col">
              <mat-form-field>
                <mat-label>firstName</mat-label>
                <input matInput [(ngModel)]="firstName" class="form">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>lastName</mat-label>
                <input matInput [(ngModel)]="lastName" class="form">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>email</mat-label>
                <input matInput type="email" [(ngModel)]="email" class="form">
              </mat-form-field>
            </div>

            <div class="col">
              <button class="button-add-row" mat-stroked-button (click)="addUser()">Add User</button>
            </div>
          </div>

          <div class="row" id="row3">
            <mat-form-field class="mat-form-field">
              <input matInput #filter (keyup)="applyFilter(filter.value)" placeholder="Filter">
            </mat-form-field>

          </div>

        </div>

        <mat-spinner *ngIf="isDataLoaded$ && !isDataLoaded$.closed"></mat-spinner>

        <div *ngIf="isDataLoaded$ && isDataLoaded$.closed">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> firstName </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> lastName </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedcolumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedcolumns;">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</main>